@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}



<div id="about" class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h4>VISIT NEPAL</h4>
                <h3 style="text-transform: none !important">We Provide you a better direction</h3>
                <p>
                    “Visit Nepal-advanced tourism guide system” is providing a
                    platform to improve tourism system of our country Nepal through
                    website. It provides online hotel booking, tourist guide booking, as
                    well as vehicle booking. Visitors can analyze and preview about the
                    place where they want to adventure. As our country is putting step
                    forward
                    In IT and technology, this project is best suited to improve tourist
                    satisfaction and to win their heart. On the other hand it helps to
                    promote our country in international level by exposing natural beauty,
                    our Culture, adventurous activities.
                </p>
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="full text_align_center">
                    <img class="img-responsive" src="~/Content/images/about.jpg" alt="#" />
                </div>
            </div>
        </div>
    </div>
</div>
