@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div id="wcs" class="hiw_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text_align_center">
                <h3>Contact</h3>
                <p>You can contact us by following method</p>
            </div>
            <div class="col-md-5">
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                <div class="full testimonial_blog" style="font-family:'Times New Roman';font-size:14px">
                    <p>  Our CEO:Er.Akash gc <br />
                    Phone 9867288224 </p>
                        <p>Email:akashgcsky58@gmail.com <br />

                            Phone:071543864<br />
                       
                        Address:butwal-11 Rupandehi nepal<br />
                        </p>
                 
                </div>
            </div>
        </div>
    </div>
</div>