
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<div id="service" class="hiw_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3>OUR SERVICES</h3>
                <p>We are here to work in various sector and we will try to provide better services</p>
            </div>
            <div class="col-md-5">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 service_blog">
                <img class="margin_top_30 img-responsive" src="~/Content/images/s1.jpg" alt="#" />
                <h3 class="blog_head">Find Destination</h3>
            </div>
            <div class="col-md-4 service_blog">
                <img class="margin_top_30 img-responsive" src="~/Content/images/s2.jpg" alt="#" />
                <h3 class="blog_head">Hotel Booking</h3>
            </div>
            <div class="col-md-4 service_blog">
                <img class="margin_top_30 img-responsive" src="~/Content/images/s3.jpg" alt="#" />
                <h3 class="blog_head">Vehical Booking</h3>
            </div>
            <div class="col-md-4 service_blog">
                <img class="margin_top_30 img-responsive" src="~/Content/images/s4.jpg" alt="#" />
                <h3 class="blog_head">Guide Booking</h3>
            </div>
            <div class="col-md-4 service_blog">
                <img class="margin_top_30 img-responsive" src="~/Content/images/s5.jpg" alt="#" />
                <h3 class="blog_head">Estimation</h3>
            </div>
        </div>
    </div>
</div>